@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Report generator</h1>
    <p>
        Welcome to the Report Generator! This app offers you to view and manage list of Courses and Students. Please follow the navigation bar above to go to course and students pages. In Course page you can view all available courses and you can Add Edit Delete. In students page you can view list of students and you can filter the tsudents by their First Name, Age, Place, Ethnicity. Fill the filters and click Filter button to see the result and click rest button to reset the filters.</p>
<div class="row "   ></div>  
 <div class="col-4"></div>
    <div class="col-4 w-100">
       <h3>Search Filters:</h3>
        <h6> Filter students by First Name</h6>
        <h6> Filter by Age (students older than the specified age)</h6>
        <h6>Filter by Place</h6>
        <h6>  Filter by Ethnicity</h6>
        </div>
    <div class="col-4"></div>
    
</div>
